@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS */
@keyframes scaleAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-scale {
    animation: scaleAnimation 1s ease-in-out;
  }
  